target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.git
.github
.idea
*.iml
*.iws
*.ipr
.vscode
node_modules
dist
.angular
*.md
.env*
docker-compose.yml
spec/
postman/
